body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}